html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
body {
  background-image: repeating-linear-gradient(
      45deg,
      hsla(253, 0%, 98%, 0.03) 0px,
      hsla(253, 0%, 98%, 0.03) 1px,
      transparent 1px,
      transparent 12px
    ),
    repeating-linear-gradient(
      112.5deg,
      hsla(253, 0%, 98%, 0.03) 0px,
      hsla(253, 0%, 98%, 0.03) 1px,
      transparent 1px,
      transparent 12px
    ),
    repeating-linear-gradient(
      22.5deg,
      hsla(253, 0%, 98%, 0.03) 0px,
      hsla(253, 0%, 98%, 0.03) 1px,
      transparent 1px,
      transparent 12px
    ),
    repeating-linear-gradient(
      67.5deg,
      hsla(253, 0%, 98%, 0.03) 0px,
      hsla(253, 0%, 98%, 0.03) 1px,
      transparent 1px,
      transparent 12px
    ),
    repeating-linear-gradient(
      45deg,
      hsla(253, 0%, 98%, 0.03) 0px,
      hsla(253, 0%, 98%, 0.03) 1px,
      transparent 1px,
      transparent 12px
    ),
    repeating-linear-gradient(
      157.5deg,
      hsla(253, 0%, 98%, 0.03) 0px,
      hsla(253, 0%, 98%, 0.03) 1px,
      transparent 1px,
      transparent 12px
    ),
    repeating-linear-gradient(
      112.5deg,
      hsla(253, 0%, 98%, 0.03) 0px,
      hsla(253, 0%, 98%, 0.03) 1px,
      transparent 1px,
      transparent 12px
    ),
    repeating-linear-gradient(
      90deg,
      hsla(253, 0%, 98%, 0.03) 0px,
      hsla(253, 0%, 98%, 0.03) 1px,
      transparent 1px,
      transparent 12px
    ),
    repeating-linear-gradient(
      90deg,
      hsla(253, 0%, 98%, 0.03) 0px,
      hsla(253, 0%, 98%, 0.03) 1px,
      transparent 1px,
      transparent 12px
    ),
    repeating-linear-gradient(
      135deg,
      hsla(253, 0%, 98%, 0.03) 0px,
      hsla(253, 0%, 98%, 0.03) 1px,
      transparent 1px,
      transparent 12px
    ),
    repeating-linear-gradient(
      67.5deg,
      hsla(253, 0%, 98%, 0.03) 0px,
      hsla(253, 0%, 98%, 0.03) 1px,
      transparent 1px,
      transparent 12px
    ),
    repeating-linear-gradient(
      135deg,
      hsla(253, 0%, 98%, 0.03) 0px,
      hsla(253, 0%, 98%, 0.03) 1px,
      transparent 1px,
      transparent 12px
    ),
    repeating-linear-gradient(
      90deg,
      hsla(253, 0%, 98%, 0.03) 0px,
      hsla(253, 0%, 98%, 0.03) 1px,
      transparent 1px,
      transparent 12px
    ),
    linear-gradient(90deg, rgb(13, 8, 66), rgb(230, 168, 209));
}
